.pic6{
	position: absolute;
	top: 170px;
	left: 100px;
}
.pic7{
	position: absolute;
	top: 330px;
	left: 450px;
}
.pic8{
	position: absolute;
	top: 1000px;
	left: 100px;
}
.pic9{
	position: absolute;
	top: 810px;
	left:450px;
}
.pic10{
	position: absolute;
	top:810px;
	left:850px;
}
.pic11{
	position: absolute;
	top: 1100;
	left:400;
}

.pic12{
	position: absolute;
	top: 1100;
	left:700;
}